    
    <div class="jumbotron" style="background-color:#0275d8; color: white;">
        <h1 class="text-center">
            MRP - Menu
        </h1>
    </div>

<div class="container">
            
            <div class="card">
                    <h3>Clientes</h3>          
                        <a href="#/clientes" class="btn btn-lg btn-primary">Acessar</a>
            </div>
            <div class="card">
                    <h3>Matéria Prima</h3>          
                        <a href="#/materia-prima" class="btn btn-lg btn-primary">Acessar</a>
            </div>
            <div class="card">
                        <h3>Produtos</h3>
                        <a href="#/produtos" class="btn btn-lg btn-primary">Acessar</a>
            </div>
            <div class="card">
                        <h3>Pedidos</h3>
                        <a href="#/pedidos" class="btn btn-lg btn-primary">Acessar</a>
            </div>
            
    </div>